:root {
  --initial-width: 5rem; /* Initial key width */
  --initial-height: 5rem; /* Initial key height */
}

.keyboard {
  display: grid;
  /* These numbers came from a standard keyboard layout */
  grid-template-columns: 217fr 2fr 45fr 1fr 60fr;

  padding: 0.8rem;
  border-radius: 0.4rem;
  background-color: #343a40;
  box-shadow: 0 0.4rem 0 0.6rem #212529, 0 1.2rem 3.2rem rgba(0, 0, 0, 0.075);
}

.key {
  width: var(--initial-width);
  height: var(--initial-height);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  font-weight: 600;
  background-color: #f1f3f5;

  border-radius: 0.7rem;
  box-shadow: inset 0 -0.2rem 0 0.3rem #adb5bd,
    0 1.2rem 3.2rem rgba(0, 0, 0, 0.05);

  transition: all 0.2s;
}

.key:hover {
  transform: scale(0.98);
  box-shadow: inset 0 -0.1rem 0 0.2rem #adb5bd;
}

.region {
  padding: 0.5rem;
  gap: 0.2rem;
}

/* contains "ESC" & Function (F1-F12) & Top-Located Control (Prt Sc|Scrl lck|Pause) keys */
.function {
  grid-column: 1 / span 3;

  display: grid;
  grid-template-columns:
    14fr 15fr repeat(4, 14fr) 7fr repeat(4, 14fr) 7fr repeat(4, 14fr)
    3fr repeat(3, 14fr);
}

/* contains Modifiers/Control (Ctrl|Alt|etc.) & Alpha (A-Z) keys */
.typewriter {
  grid-column: 1 / 2;
  display: grid;
}

.typewriter .first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  display: grid;
  gap: 0.2rem;
}

.first-row {
  grid-template-columns: repeat(13, 1fr) 2fr;
}

.second-row {
  grid-template-columns: 21fr repeat(12, 14fr) 21fr;
}

.third-row {
  grid-template-columns: 25fr repeat(11, 14fr) 32fr;
}

.fourth-row {
  grid-template-columns: 32fr repeat(10, 14fr) 39fr;
}

.fifth-row {
  grid-template-columns: repeat(3, 18fr) 89fr repeat(4, 18fr);
}

/* contains Navigation (PgUp|PgDn|etc.) & Arrow keys */
.navigation {
  grid-column: 3 / span 1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

/* contains Numpad Keys */
.numpad {
  grid-column: 5 / span 1;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

/************************/
/* FUNCTION REGION KEYS */
/************************/

/**************************/
/* TYPEWRITER REGION KEYS */
/**************************/

.leftcontrol-key,
.windows-key,
.leftalt-key,
.rightalt-key,
.fn-key,
.menu-key,
.rightcontrol-key {
  width: calc((var(--initial-width) * 1.28) + 0.2rem);
}

.tab-key,
.backslash-key {
  width: calc((var(--initial-width) * 1.5) + 0.2rem);
}

.caps-key {
  width: calc((var(--initial-width) * 1.8) + 0.2rem);
}

.backspace-key {
  width: calc((var(--initial-width) * 2.02) + 0.2rem);
}

.enter-key,
.leftshift-key {
  width: calc((var(--initial-width) * 2.32) + 0.2rem);
}

.rightshift-key {
  width: calc((var(--initial-width) * 2.82) + 0.2rem);
}

.space-key {
  width: calc((var(--initial-width) * 6.36) + 0.2rem);
}

.windows-key svg {
  width: 2rem;
  height: 2rem;
}

.menu-key svg {
  width: 2.6rem;
  height: 2.6rem;
}

.tilde-key,
.tab-key,
.caps-key,
.leftshift-key,
.leftcontrol-key {
  justify-content: left;
  padding-left: 1.6rem;
}

.backspace-key,
.enter-key,
.rightshift-key,
.rightcontrol-key {
  justify-content: right;
  padding-right: 1.6rem;
}
/**************************/
/* NAVIGATION REGION KEYS */
/**************************/

.arrowup-key {
  grid-column: 2;
  grid-row: 4;
}
.arrowup-key span {
  transform: rotate(90deg);
}
.arrowleft-key {
  grid-row: 5;
}
.arrowdown-key {
  grid-row: 5;
}
.arrowdown-key span {
  transform: rotate(270deg);
}
.arrowright-key {
  grid-row: 5;
}
.arrowright-key span {
  transform: rotate(180deg);
}

/**********************/
/* NUMPAD REGION KEYS */
/**********************/

.addition-key {
  grid-column: 4;
  grid-row: 2 / span 2;
  height: calc((var(--initial-height) * 2) + 0.2rem);
}

.numpadEnter-key {
  grid-column: 4;
  grid-row: 4 / span 2;
  height: calc((var(--initial-height) * 2) + 0.2rem);
}
.numpad0-key {
  grid-column: 1 / span 2;
  width: calc((var(--initial-width) * 2) + 0.2rem);
}
